@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(../img/img-fondo-intendente/fondo-geometria-abstracta-moderno-fondo-pantalla-claro-banner-web-presentacion_752732-47.jpg) ;
    background-size: cover;
    position: sticky;

}


/*INCIO*/
header {
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
    transition: 0.3s ease;
    background-color: #ffffffc6;
}
header.sticky {
    position: sticky;
    height: calc(2.5rem + 2rem);
    background: rgba(255, 255, 255, 0.457);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(0, 162, 255, 0.848);
}


.primer3{
    display: flex;
    background-color: rgba(220, 219, 219, 0.404);
    box-shadow: 0px 0px 1px 1px #2386b1;
    backdrop-filter: blur(5px);
    padding: 30px;
    margin: 50px 100px;
    border-radius: 20px;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
   
}
.primer3 h2 ,h3{
    
    color: #2386b1;
}
.primer3 h3{
 
    font-weight: 400;
    color: #2386b1;
    
}

.primer4{
    background-color: rgba(220, 219, 219, 0.404);
    box-shadow: 0px 0px 1px 1px #2386b1;
    backdrop-filter: blur(5px);
    padding: 30px;
    margin: 50px 50px;
    border-radius: 20px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 50vh;
}
.primer4 h2 ,h3{
    
    color: #2386b1;
}
.primer4 h3{
 
    font-weight: 400;
    color: #2386b1;
    
}





.search {
    width: auto;
    margin-top: 20px;
    padding: 10px;
    border: #2386b1 solid 1px;
    background: rgb(221, 221, 221);
    outline: none;
}

.tramite-login{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tramite h2{
    font-size: 30px;
}

.primer button{
    background-color:#31a2ff;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
}

.button-buscar {
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #2386b1;
    color: white;
    cursor: pointer;
}


/*LOGO MI SANVICENTE*/

.cabeza {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-bar {
    background-color:rgb(120 167 207 / 11%); /* semi-transparente */
    width: 100%;
    height: calc(2.5rem + 2rem);
    backdrop-filter: blur(10px);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 0.5px 0.5px #2386b1;
}
.user a{
    text-decoration: none;
}

.user a p {
    color: #ffffff;
    font-size: 1em;
    border-radius: 50%;
    border: 3px solid #005b88;
    width: 40px;
    height: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 15px;
    background-color: #005b88;
    transition: 0.2s ease-out;
}

.user a p:hover{
    background-color: #ffffff; 
    color: #005b88;
}



.logo {
    position: absolute;
    left: 20px; /* Ajusta según sea necesario */
    z-index: 100;
}

.menu-container {
    margin-left: auto; /* Empujar el menú al final */
    display: flex;
    align-items: center;
}

.btn-menu {
    font-size: 24px; /* Ajusta el tamaño del ícono según tus necesidades */
    cursor: pointer;
}

.container-menu {
    position: relative;
}

.cont-menu {
    backdrop-filter: blur(10px);
    z-index: 10000;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-out;
    background-color: #1f5a8a95;
    transform: translateX(80px);
}

.cont-menu nav ul li {
    list-style: none;   
}

.cont-menu nav ul li a{
    float: left;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    position: relative;
    padding: 10px;
    font-size: 20px;
    transition: 0.2s ease;
    
}

.cont-menu nav i {
    font-size: 30px;
    margin-right: 8px; 
}

.cont-menu nav ul li a:hover{
    background-color:#2386b1;
    width: 100%;
    color: #ffffff;
    border-radius: 10px
}


.cont-menu nav img{
    width: 300px;
    padding-top: 100px;
}

.cont-menu.active {
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
}

.nav-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgb(229, 72, 72);
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

/*INPUT*/


.datos label{
    font-size: 13px;
    font-weight:bold;
    margin-right: 10px;
}

.datos {
    display: flex;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    
}

.datos-clave {

    padding:20px ;

}


.datos-clave input {

    border-radius: 5px;
    
    margin-right: 10px;
    padding: 5px;
    box-sizing: border-box;
    background: rgb(221, 221, 221);
    border: #2386b1 solid 1px;
    
}


.datos input , textarea{
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    background: rgb(221, 221, 221);
    border: #2386b1 solid 1px;
    
}

.datos.direccion{
    margin: 10px;
}
.input-small {
    width: 40px; /* Adjust width to fit two digits */
}
.input-normal {
    width: 100px; /* Adjust width as needed */
}

select {
    background-color: #31a2ff;
    padding: 4px 7px;
    margin-bottom: 15px;
    border: 0;
    border-radius: 8px;
    font-size: 10px;
    color: #ffffff;
}



/* Para navegadores WebKit (Chrome, Safari) */  
input[type=number]::-webkit-inner-spin-button,  
input[type=number]::-webkit-outer-spin-button {  
    -webkit-appearance: none;  
    margin: 0;  
}  

/* Para Firefox */  
input[type=number] {  
    -moz-appearance: textfield; /* Elimina el spinner */  
}  


#map {
    height: 400px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 1px 1px #2386b1;
}

.progress {
    height: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    transition: width 0.5s;
}

.bg-success {
    background-color: #28a745;
}

.bg-warning {
    background-color: #ffc107;
}

.bg-danger {
    background-color: #dc3545;
}

.progress-bar {
    text-align: center;
    color: white;
    line-height: 30px; /* Ajusta según el alto de la barra */
    font-weight: bold;
}



.datos button:hover{
    background: var(--body-bg-color);
    color: #10aecd;
    transition: 0.3s ease;
    box-shadow: 3px 3px 151px 45px rgba(16,174,205,1);
-webkit-box-shadow: 3px 3px 151px 45px rgba(16,174,205,1);
-moz-box-shadow: 3px 3px 151px 45px rgba(16,174,205,1);
}


/*INGRESAR*/

.contenerdor_ingreso {
    height: 100vh; /* Ocupa toda la altura del viewport */
    margin: 0;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.primer2 {
    background-color: rgba(220, 219, 219, 0.404);
    box-shadow: 0px 0px 1px 1px #2386b1;
    backdrop-filter: blur(5px);
    padding: 30px;
    width: fit-content;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-password {
    width: 140px; /* Adjust width as needed */
}


hr {
    border: none; /* Elimina cualquier borde predeterminado */
    height: 1px; /* Ajusta la altura del hr */
    background-color: #2386b1; /* Cambia el color del hr */
    margin: 2px 0; /* Añade margen superior e inferior */
    width: 100%; /* Ajusta la anchura si es necesario */
}


.datos2 {
    display: flex;
    padding: 9px;
    align-items: center;
    flex-wrap: wrap;
    
}

.datos2 label{
    font-size: 13px;
    font-weight:bold;
    margin-right: 10px;
}

.datos2 input{
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    background: rgb(221, 221, 221);
    border: #2386b1 solid 1px;
    
}


.primer2 img{
    margin-bottom: 40px;
}

.datos2 .button-ingreso{
    cursor: pointer;
    background-color: #888787;
    color: #ffffff;
}

.datos2 .button-ingreso-color{
    cursor: pointer;
    background-color: #2386b1;
    color: #f5f5f5;
}


.datos2 .button-ingreso-color:hover{
    background: #f5f5f5;
    color: #2386b1;
    transition: 0.3s ease;
}

.datos2 .button-ingreso:hover{
    background: #f5f5f5;
    color: #888787;
    transition: 0.3s ease;
}




/*USUARIO*/

.primer table{
    font-size: 20px;
    display: flex;
}

.primer{
    background-color:rgba(220, 219, 219, 0.404);
    box-shadow:0px 0px 1px 1px #2386b1;
    backdrop-filter: blur(5px);
    padding: 30px;
    margin: 50px 50px;
    border-radius: 20px;
    margin-top: 50px;
    
}
.primer h2 ,h3{
    
    color: #2386b1;
}
.primer h3{
 
    font-weight: 400;
    color: #2386b1;
    
}

.primer p{
    margin: 10px;
    font-size: small;
}


@media screen and (max-width: 749px){

    .primer{
        margin: 41px 9px;
        padding: 10px;
    }
}
